@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap');

* {
	padding: 0;
	margin: 0;
	font-family: 'Jura', sans-serif;
}

body .container-sm{
	background: url(../img/background.svg) no-repeat left top;
	background-size: 100%;
}

header {
	position: absolute;
	width: 100%;
}

header .left {
	background: url(../img/minileftmenu.svg) no-repeat left top;
	height: 40px;
	width: 174px;
	padding-top: 0.75rem;
	padding-left: 1rem;
}

header .time:before {
	display: inline-block;
	position: relative;
	content: "";
	top: 2px;
	left: -2px;
	background: url(../img/clock.svg) no-repeat center center;
	/*background-size: 100%;*/
	height: 16px;
	width: 17px;
}

header span {
	color: #fff;
	text-transform: uppercase;
	display: block;
	line-height: 1rem;
}

header .right {
	background: url(../img/minirightmenu.svg) no-repeat left top;
	height: 40px;
	width: 57px;
	padding-left: 43px;
	padding-top: 13px;
	margin-left: auto;
}

.game {
	height: 100vh;
    padding-top: 36vh;
}

.task {
	width: 317px;
	height: 147px;
	background: url(../img/menublock.svg) no-repeat center center;
	background-size: 100%;
	color: #fff;
	padding-top: 20px;
}

.task span {
	font-size: 18px;
	font-weight: 300;
}

.task h2 {
	text-transform: uppercase;
	margin-top: 10px;
	font-weight: 700;
	font-size: 36px;
}

#micro {
    width: 100px;
    height: 100px;
    background: url(../img/microphone.svg) no-repeat center center;
    margin-top: 50px;
    filter: hue-rotate(0deg);
    transition: 0.15s;
}

#micro.on{
    filter: hue-rotate(-100deg);
}

#add-time {
    display: inline;
    color: #30BF00;
    font-weight: 700;
    position: relative;
    top: -5px;
    opacity: 0;
}
